<div class="row card shadow mx-auto mt-3">
  <form [formGroup]="formComment" (ngSubmit)="onSubmitCommentForm()" class="my-3">
    <div>
      <label for="author">Auteur</label>
      <input
        id="author"
        class="form-control"
        formControlName="author"
        [(ngModel)]="comment.author">
    </div>
    <div class="mb-3">
      <label for="content">Description</label>
      <input
        id="content"
        formControlName="content"
        class="form-control"
        [(ngModel)]="comment.content">
    </div>
    <button type="submit" class="d-grid col-4 mx-auto btn btn-dark" [disabled]="formComment.invalid">Ajouter Commentaire
    </button>
  </form>
</div>
